.titulo {
	color: cadetblue;
	text-align: center;
}

.container {
  margin-left: auto;
  margin-right: auto;
}

.info {
  overflow: hidden;
}

#left {
  float: left;
}

#right {
  float: right;
}

#total {
  text-align: left;
}

.tabela {
  width: 100%;
}

.tabela th {
	text-align: left;
}


tfoot {
  background-color: rgba(200,200,200, 0.3);
}

